name: Build app-to-phone-java

on:
  push:
    branches: [main] # Just in case main was not up to date while merging PR
  pull_request:
    types: [opened, synchronize]

jobs:
  run:
    continue-on-error: true
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: 15

      - name: Build
        run: cd app-to-phone-java/app-to-phone && ./gradlew app:assembleDebug && cd ..
        